# Ignore local environment files
.idea
.env

# Ignore Python virtual environment folders
venv/
env/

# Ignore pycache and compiled Python files
__pycache__/
*.py[cod]

# Ignore logs and other temporary files
*.log
*.swp
*.swo
*.tmp
*.sql
# Ignore database files
*.db
*.whl

# Ignore VSCode specific files
.vscode/
*.code-workspace
pyvenv.cfg
.python-version
geodata
dist/
